.main-container {
    padding: 8px 86px;
    .ad-box {
        display: flex;
        justify-content: space-between;
        & > div {
            width: 19%;
        }
    }
    .device-box {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        .device-col {
            width: 33%;
            height: 300px;
            background-color: #eee;
        }
    }
}
